<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!-- Place the name of your domain (i.e. tinyurl.com, bit.ly) here -->
        <add key="DomainName" value="domain.com" />
        <!-- Type of database to be used (SqlServer or MySql) -->
        <add key="DatabaseType" value="SqlServer" />
    </appSettings>
    <connectionStrings>
        <!-- Place your connection string here. Specify which database is to be used ("SqlServer" or "MySql") -->
        <add name="SqlServer" connectionString="Server=InstanceName;Database=ShortUrl;Uid=username;Pwd=password;" />
        <add name="MySql" connectionString="" />
    </connectionStrings>
    <system.web>
        <compilation debug="false" />
        <authentication mode="Windows" />
    </system.web>
</configuration>
