body{

}
::-webkit-scrollbar {
    width: 7px;
    height:7px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
    border-radius:10px;
}
::-webkit-scrollbar-thumb {
    background-color: dimgray;
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: black;
}
    body,html{
		height: 100%;
	}

	/* remove outer padding */
	.main .row{
		padding: 0px;
		margin: 0px;
        
	}
   
	/*Remove rounded coners*/
    nav.container-fluid
    {
        
    }
	nav.sidebar.navbar {
		border-radius: 0px;
        
        top:38px;
        left:0;
        
        background-color:#616161;
        border-color:#616161;
	}
    .main3
    {
        
        top:0;
        left:0;
        width:100%;
        height:100%;
        margin:0;
        padding:0;
        border:none;
        
    }
    .main3, sidebar
    {
        position:fixed;
        
        
    }
    .main3.container-fluid
    {
        overflow:auto;
        
    }
    .main3
    {
        width:100%;
    }
    nav.sidebar.navbar{
        border:none;
        padding:0;
        margin:0;
        
    }
    nav.sidebar
    {
        margin:0;

    }
    .sidebar.navbar-inverse {
    min-height: 80px;
}

.navbar-collapse {
  max-height: 10px;
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
 
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}

   

    .navbar-nav > li > a, .navbar-brand {
    padding-top:8px !important; 
    padding-bottom:0 !important;
    height: 36px;
    color:white;
}
.navbar {min-height:28px !important;}
	nav.sidebar, .main{
		-webkit-transition: margin 200ms ease-out;
	    -moz-transition: margin 200ms ease-out;
	    -o-transition: margin 200ms ease-out;
	    transition: margin 200ms ease-out;
	}
    .navbar-nav > li 
    {
        min-height:37px;
        border-color:green
    }

	/* Add gap to nav and right windows.*/
	.main{
		padding: 20px 10px 0 10px;
	}

	/* .....NavBar: Icon only with coloring/layout.....*/

	/*small/medium side display*/
	@media (min-width: 768px) {

		/*Allow main to be next to Nav*/
		.main{
			position: absolute;
			width: calc(100% - 40px); /*keeps 100% minus nav size*/
			margin-left: 60px;
			float: right;
		}
        
		/*lets nav bar to be showed on mouseover*/
		nav.sidebar:hover + .main{
			margin-left: 225px;
		}

		/*Center Brand*/
		
		/*Center Brand*/
		nav.sidebar:hover + .main{
			margin-left: 225px;
		}

		/*Center Icons*/
		nav.sidebar a{
			padding-right: 13px;
            height:5px;
		}

		/*adds border top to first nav box */
		nav.sidebar .navbar-nav > li:first-child{
			border-top: 1px #e5e5e5 solid;
		}

		/*adds border to bottom nav boxes*/
		nav.sidebar .navbar-nav > li{
			border-bottom: 1px #e5e5e5 solid;
		}
        div.sidebar.navbar
        {
            
        }
        div.content
        {
           width:auto;
           
        }
        
		/* Colors/style dropdown box*/
		nav.sidebar .navbar-nav .open .dropdown-menu {
			position: static;
			float: none;
			width: auto;
			margin-top: 0;
			background-color: transparent;
			border: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		/*allows nav box to use 100% width*/
		nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
			padding: 0 0px 0 0px;
		}

		/*colors dropdown box text */
		.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
			color: white;
		}

		/*gives sidebar width/height*/
		nav.sidebar{
			width: 225px;
			height: 100%;
			margin-left: -160px;
			float: left;
			z-index: 8000;
			margin-bottom: 0px;
		}

		/*give sidebar 100% width;*/
		nav.sidebar li {
			width: 100%;
		}

		/* Move nav to full on mouse over*/
		nav.sidebar:hover{
			margin-left: 0px;
		}
		/*for hiden things when navbar hidden*/
		.forAnimate{
			opacity: 0;
		}


	}

	/* .....NavBar: Fully showing nav bar..... */

	@media (min-width: 1330px) {

		/*Allow main to be next to Nav*/
		.main{
			width: calc(100% - 225px); /*keeps 100% minus nav size*/
			margin-left: 225px;
		}

		/*Show all nav*/
		nav.sidebar{
			margin-left: 0px;
			float: left;
		}
		/*Show hidden items on nav*/
		nav.sidebar .forAnimate{
			opacity: 1;
		}
	}

	nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
		color: white;
		background-color: #888888;
	}

	nav:hover .forAnimate{
		opacity: 1;
	}
	section{
		padding-left: 15px;
        
	}
    .lii
    {
        color:#fff;
        border-top-color:#7a8c74;
        
    }
    .lii:hover
    {
        background-color:#888;
    }
    #lii
    {
        color:#fff;
        
    }
    #lii:hover
    {
        background-color:#888;
    }
open{
    color:white;
    font-size:20px;
    font-weight:bold;
    margin:0;
    height:36px;
    margin-left:5px;
}
.open:hover
{
    background-color: #555;

}
#open1{
    padding:0;
    margin:0;
    height:37px;
    width:38px;
    text-align:center;
    
}
#open1:hover
{
    background-color: #555;

}
nav.navbar-collapse{
    height:100%;
}


@media (max-width: 768px)
{
    nav.sidebar .navbar-nav > li{
			border-bottom: 1px #fff solid;
            
		}
    nav.sidebar .navbar-nav
    {
        margin-top:0;
        margin-bottom:0;
        padding:0;
    }
    
    .main3
    {
        overflow:auto;
        
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
			color:black;
		}
    
    
}
